<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email || email) && email.errors">Email is invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password || password) && password.errors">Password needs to be 6
        characters</ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary" [disabled]="!credentials.valid">Log in</ion-button>
    <ion-button type="button" expand="block" color="primary" (click)="register()" [disabled]="!credentials.valid">Create
      account</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="https://github.com/Sigmale1000/neonote">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <h6>	&#169; {{ currentYear }}, Daniel Jancar</h6>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>