<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">New Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="chooseTheme()">
        <ion-icon slot="icon-only" name="color-palette"></ion-icon>
      </ion-button>
      <ion-button (click)="chooseImage()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>