.titleNote {
    width: 100%;
    padding: 1% 1.5%;
    font-size: 23px;
}

.titleNote ion-label {
    color: rgba(255, 255, 255, 0.776);
}

.textNote {
    width: 100%;
    padding: 1% 1.5%;
    font-size: 18px;
    resize: horizontal;
    min-height: 600px;
    word-break: break-all;
    word-wrap: break-word;
}

.textNote ion-label {
    color: rgba(255, 255, 255, 0.776);
}