<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="topBanner">

  </div>
  <div class="userNotes ion-padding">
    <h2>Your Notes</h2>
    <ng-container *ngFor='let note of notes$ | async'>
      <ion-item button>
        <h5 class=“notesTitle”>{{ note.Title }} </h5>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ng-container>

  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/settings']">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/friends']">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/new-note']">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>